<section class="cover min-vh-100">
    <div id="cover-caption">
      <div class="container">
        <div class="row">
          <mat-card class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10 mx-auto text-center form p-4">
            <div class="alert alert-danger alert-dismissible fade show login-error" role="alert" *ngIf="showAlert">
              <strong>Error: </strong>  Invalid username/ password!
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" (click)="showAlert=false">&times;</span>
              </button>
            </div>
            <h3 class="py-2 text-truncate">Please Login Here</h3>
            <div class="px-2">
              <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="col-12">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" type="text"
                         placeholder="Enter username">
                  <mat-error *ngIf="login.username.hasError('required')">
                    Username is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="col-12">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password"
                           placeholder="Enter password">
                    <mat-error *ngIf="login.password.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  <div class="py-2">
                    <button class="col-8" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Login</button>
                  </div>
              </form>
            </div>
        </mat-card>
        </div>
      </div>
    </div>
  </section>
  